<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <h1><%= bakedGood.name %></h1>
    <p>Price: $<%= bakedGood.price %></p>
    <img src="<%= bakedGood.image %>">
    <a href="/bakedGoods">Home</a>
    
</body>
</html>